
.size{
    height: 75px;
    width: 75px;
    color: #F4FCD9;
    background-color:#BB9981;
    margin:5px;
    padding: 15px;
    border-radius: 50%;
    font-size: 1.35em;
}

.size:hover{
    color: #BB9981;
    background-color: #F4FCD9;
    cursor: pointer;
}

